# Discord Library
discord.py==2.3.2
PyNaCl==1.5.0  # required if you use voice features (optional)

# Web Framework
Flask==2.3.3
Flask-CORS==4.0.0
flask-socketio==5.3.4
gunicorn==21.2.0
eventlet==0.33.3  # async worker for flask-socketio

# Database
pymongo==4.4.1
dnspython==2.4.2

# Utilities
python-dotenv==1.0.0
requests==2.31.0
bcrypt==4.0.1
cryptography==41.0.4

# IP Checking
maxminddb==2.4.0

# Async HTTP requests
aiohttp==3.8.5

# Dev Tools (optional)
black==23.7.0
flake8==6.0.0
